* {
  margin: 0;
  font-family: monospace;
}

.header {
  background-color: pink;
  height: 15vh;
  width: 100vp;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#red {
  background: red;
  border-radius: 8px;
  height: 10px;
  width: 15vw;
  outline: none;
  -webkit-appearance: none;
}
#green {
  background: green;
  border-radius: 8px;
  height: 10px;
  width: 15vw;
  outline: none;
  -webkit-appearance: none;
}

#blue {
  background: blue;
  border-radius: 8px;
  height: 10px;
  width: 15vw;
  outline: none;
  -webkit-appearance: none;
}
#red::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  border: 10px red dotted;
  border-radius: 50%;
}
#green::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  border: 10px green dotted;
  border-radius: 50%;
}
#blue::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  border: 10px blue dotted;
  border-radius: 50%;
}

#hexa {
  font-size: 3rem;
}

#showColor {
  height: 85vh;
  background: antiquewhite;
}
